@import url(./__container/profile__container.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__heading/profile__heading.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__name/profile__name.css);
@import url(./__job/profile__job.css);

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 199px 0 199px;
  width: 100%;
  max-width: 1280px;
}
