.profile__add-button {
  box-sizing: border-box;
  background: url(../../../images/plus.png) no-repeat center;
  border: 2px solid white;
  width: 150px;
  /*width: 100%;*/
  height: 50px;
  padding: 0;
  margin: 0;
  transition: opacity .5s ease-in-out;
}

.profile__add-button:hover {
  cursor: url(../../../images/cursor.png), pointer;
  opacity: .6;
}
